table {
    border-collapse: collapse;
}

th,
td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}

#tabulky {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
}

#prepnut-zobrazenie {
    margin-bottom: 10px;
}

.flex {
    display: flex;
    flex-direction: column;
}

@media (min-width: 768px) {
    .flex {
        flex-direction: row;
    }
}
