table {
    border-collapse: collapse;
}

th,
td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}

#tabulky {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
}

.flex {
    display: flex;
    flex-direction: column; /* Default for mobile */
}

@media (min-width: 768px) {
    /* Adjust the breakpoint as needed */
    .flex {
        flex-direction: row; /* For desktop */
    }
}
